<div id="view_attendance" class="container-fluid bg-3 text-center">
  <h3 class="margin">Class Attendance</h3>
  <br />
  <table
    id="example"
    class="table table-striped table-bordered"
    style="width: 100%;"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Major</th>
        <th>Starting Year</th>
        <th>Total Attendance</th>
        <th>Year</th>
        <th>Last Attendance Time</th>
        {% if session['username'] %}
        <th>Edit</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
      {% for student_id, student_info in data.items() %}
      <tr>
          <td>{{ student_id }}</td>
          <td>{{ student_info.name }}</td>
          <td>{{ student_info.major }}</td>
          <td>{{ student_info.starting_year }}</td>
          <td>{{ student_info.total_attendance }}</td>
          <td>{{ student_info.year }}</td>
          <td>{{ student_info.last_attendance_time }}</td>
          {% if session['username'] %}
          <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal{{ student_id }}">
              Edit
          </button>
          </td>
          {% endif %}
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Major</th>
        <th>Starting Year</th>
        <th>Total Attendance</th>
        <th>Year</th>
        <th>Last Attendance Time</th>
        {% if session['username'] %}
        <th>Edit</th>
        {% endif %}
    </tr>
    </tfoot>
  </table>
</div>

{% for student_id, student_info in data.items() %}
<div class="modal fade" id="editModal{{ student_id }}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Attendance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('update_data') }}">
                    <input type="hidden" name="student_id" value="{{ student_id }}">
                    <div class="form-group">
                        <label>Total Attendance</label>
                        <input type="number" class="form-control" name="total_attendance" value="{{ student_info.total_attendance }}">
                    </div>

                    
                    <!-- Add other fields as necessary -->
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}